#OS junk files
[Tt]humbs.db
*.DS_Store

# Any intermediate backups under this folder.
backup/

#shapefile.py, used for testing / running scripts.
shapefile.py
shapefile.pyc

# Testing documentation in 04
04*

# Extra parsers, non production
01_Raw_Data_Handling/0c_CSA_TAIS_pre_parser.py
01_Raw_Data_Handling/Message_8_Parser.py
03_Grid_Calculations/tracks_into_grids_gdal_mp.py